.collapsible {
    background-color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  }
  

  .active, .collapsible:hover {
    background-color: #fff;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    width: 78%;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
  }

div.top{
  text-align: center;
  font-size: 20px;
}
div.title_research_diary{
  text-align: center;
  font-size: 70px;
}


div.daily_thoughts{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

div.daily_thoughts_year{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

div.daily_thoughts_date{
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}

title{
  text-align: center;
}

div.daily_thoughts_month{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.collapsible_daily_thoughts {
  background-color: white;
  cursor: pointer;
  padding: 5px;
  width: 95%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
  .old_daily_thoughts_month {
    display: none;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }



